<head>
<title>Roll Back : How long to return your purchase?</title>
</head>
<body class="landing-page">
  <nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="/">
         <div class="logo-container">
            <div class="logo">
              <!-- you logо img -->
            </div>
            <div class="brand">
              ROLL BACK < <
            </div>
          </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="example" >
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          Home
        </a>
      </li>
      <li>
          <a href="http://www.google.com/calendar" target="_blank">
              Calendar
          </a>
      </li>
      <li>

          <a href="#about_tag">

              About
          </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>

  <div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
          <%= image_tag "rack.jpg" %>

      </div>  
    <div class= "container"> 
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <div class="parallax-image">
            <%= image_tag "calendar.png" %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-offset-1">
          <div class="description">
            <h2>Rolling back a purchase?</h2>
            <br>
            <h5>STUFF ABOUT RETURNING CLOTHES TO STORES IN MELBOURNE: East brunswick club carlton, MSAC fed square don't paint over the banksy's victoria street dodgies rocking out the espy, NGV culture fix avalon is so not melb hook turns.</h5>
          </div>
          <button class="start"><a href="/items">Get started</button></a>
        </div>
      </div>
    </div>
  </div>

    <div id="about_tag" class="section section-presentation">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="description" id="about">
                            <h4 class="header-text">ABOUT SECTION?</h4>
                            <p>Melbourne central the espy, chopper read naked for satan bourke st mall swanston the G', spiegeltent werribee wildlife kath and kim. </p>
                            <p>Black is alway in fashion cate blanchette, secret laneway bars the croft institute warehouse chic brunswick st hippy south of the river, the emerald peacock food bloggers victoria street dodgies. <p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 hidden-xs">
                    <%= image_tag "receipt.jpg" %>
                </div>
            </div>
        </div>
    </div>
<div class="section section-features section-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="text">
                        <h4>Record your fashion purchase</h4>
                        <p>Every fashion store has a policy for returning unwanted clothes, and it can be easy to lose track of how many days you have to consider a return.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grayblock">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-binoculars"></i>
                    </div>
                    <h4>Add a reminder event to your calendar</h4>
                    <p>Roll Back requires a quick authorisation to Google, then you can create event reminders in your Calendar. Never again forget how long you have to return an item!</p>
                </div>
            </div>
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-university"></i>
                    </div>
                    <h4>Keep your receipt</h4>
                    <p>Receipts are always required when returning a fashion item, keep yours at least until your Google Calendar reminder notifies your return period has expired.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left copyright">
                &copy; 2017 A/M/S/V
            </nav>
            <div class="social-area pull-right">
                <a href="https://github.com/placeholder" class="btn btn-social btn-simple"><i class="fa fa-github-alt fa-fw"></i> <span class="network-name"></span></a>
                <a href="https://twitter.com/placeholder" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                <a href="https://www.facebook.com/placeholder" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                <a href="mailto:email@placeholder.com" class="btn btn-social btn-simple"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
            </div>
        </div>
        </footer>
</body>
    
     <script type="text/javascript">
        var big_image;
        $().ready(function(){
            responsive = $(window).width();

            // $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

            if (responsive >= 768){
                big_image = $('.parallax-background').find('img');
                console.log(big_image);
                $(window).on('scroll',function(){
                    parallax();
                });
            }

        });

       var parallax = function() {
            var current_scroll = $(this).scrollTop();

            oVal = ($(window).scrollTop() / 3);
            big_image.css('top',oVal);
        };
    </script>
